version: '3.7'

services:
  ranger-db:
    image: postgres:15-alpine
    container_name: ranger-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

  ranger-admin:
    build:
      context: .
      dockerfile: Dockerfile
    image: ranger-admin:2.7.0
    container_name: ranger-admin
    ports:
      - "6080:6080"
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      AUDIT_STORE: ${AUDIT_STORE}
      RANGER_ADMIN_PASSWORD: ${RANGER_ADMIN_PASSWORD}
    depends_on:
      - ranger-db